[submodule "isaac_ros-dev/src/isaac_ros_nvblox"]
	path = isaac_ros-dev/src/isaac_ros_nvblox
	url = https://github.com/JCastel358/isaac_ros_nvblox.git
[submodule "isaac_ros-dev/src/isaac_ros_map_localization"]
	path = isaac_ros-dev/src/isaac_ros_map_localization
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_map_localization.git
[submodule "go2_rl_ws"]
	path = go2_rl_ws
	url = https://github.com/gabearod2/go2_rl_ws.git
[submodule "isaac_ros-dev/src/sllidar_ros2"]
	path = isaac_ros-dev/src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
