[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/JCastel358/robot_localization.git
	branch = humble-devel
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/JCastel358/zed-ros2-wrapper.git
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/JCastel358/sllidar_ros2.git
[submodule "src/audio_utils"]
	path = src/audio_utils
	url = https://github.com/JCastel358/audio_utils.git
	branch = ros2
[submodule "src/odas_ros"]
	path = src/odas_ros
	url = https://github.com/JCastel358/odas_ros.git
	branch = ros2
[submodule "src/unitree_ros2"]
	path = src/unitree_ros2
	url = https://github.com/JCastel358/unitree_ros2.git
[submodule "src/zed-ros2-examples"]
	path = src/zed-ros2-examples
	url = https://github.com/JCastel358/zed-ros2-examples.git
